.flick.template {
    display: none;
}

.actions {
    float: right;
}

.flick {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    transition: 0.25s;
}

.flick + .flick {
    border-top: none;
}

.flick-name {
    flex-grow: 1;
}

.actions.button-group {
    margin-bottom: 0;
}

.flick.fav {
    background-color: lightcoral;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: lightcoral;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: lightcoral;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: lightcoral;}
    25%  {background-color: yellow;}
    50%  {background-color: orange;}
    100% {background-color: lightcoral;}
}

.button {
    -webkit-transition-duration: 0.4s; /* For Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

li {
    font-weight: bold;
    margin: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

body {
    background-color: lightblue;
}

h1 {
    font-weight: bold;
    font-family: cursive;
    font-size: 70px;
    text-shadow: 1px 1px 2px #082b34;
}